*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .nav-container {
	  position: absolute;
	  color: white;
	  top: 0;
	  left: 0;
	  z-index: 10;
      height: 100px;
	  width: 100vw;
  }
  
  .nav {
      display: flex;
      justify-content: space-between;
      padding: 20px 20px;
  }
  
  .nav-header {
      display: flex;
      align-items: center;
  }
  
  .nav-list {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
  }
  
  li:nth-child(4) {
      padding: 15px 25px;
      border: 1px solid white;
      border-radius: 40px;
	  color: black;
	  background: white;
  }

  .banner{
    position: relative;
    background-image: url('./images/desktop/image-header.jpg');
    height: calc(100vh - 100px);
    background-size: cover;

  }
  .banner .header{
    position: absolute;
    top: 30vh;
    display: flex;
    justify-content: center;
    font: normal normal 600 40px/normal sans-serif;
    width: 100%;
    color: #fff;
  }
  .banner .arrow-down{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
  }
  .first-section{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .first-section div:nth-child() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 70px 90px;
  }
  .first-section .left-side:nth-child(1) {
    font: normal normal 900 30px/normal sans-serif;
    margin-bottom: 30px;
  }
  .first-section .left-side p{
    font: normal normal 500 15px/normal sans-serif;
    margin-bottom: 30px;
  }
  .first-section .left-side a{
    font: normal normal 700 17px/normal sans-serif;
    background: linear-gradient(to bottom, #fff 50%, hsl(51, 100%, 49%) 50%);
    color: #000;
    text-decoration: none;
    width: max-content;
    padding: 0 5px;
  }
  .first-section .right-side img{
    width: 100%;
    max-width: 100%;
  }

  .testimonials {
	  padding: 80px;
  }

  .testimonial-container {
	  display: grid;
	  gap: 20px;
	  grid-template-columns: auto auto auto;
  }

  .testimonial-heading {
	  font-family: sans-serif;
	  text-transform: uppercase;
	  color: hsl(210, 4%, 67%);
	  width: max-content;
	  padding: 60px;
	  margin: auto;
  }

  .testimonial-card {
	  text-align: center;
  }

  .testimonial-card figcaption > *{
	  margin-bottom: 40px;
  }


  .desgination {
	  color: hsl(213, 9%, 39%);
	  margin-top: 20px;
	  font-weight: 500;
  }

  .description {
	  color: hsl(213, 9%, 39%);
	  font-weight: 700;
  }

  .testimonial-card img {
	  display: block;
	  border-radius: 100%;
	  width: 60px;
	  height: 60px;
	  margin: auto;
	  margin-bottom: 30px;
  }
