*{
    margin: 0;
    padding: 0;
    border: none;
  }
  .nav-container {
	  position: absolute;
	  color: white;
	  top: 0;
	  left: 0;
	  z-index: 10;
    height: 100px;
	  width: 100%; 
  }
  
  .nav {
      display: flex;
      justify-content: space-between;
      padding: 20px 20px;
  }
  
  .nav-header {
      display: flex;
      align-items: center;
  }
  
  .nav-list {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
  }
  
  li:nth-child(4) {
      padding: 15px 25px;
      border: 1px solid white;
      border-radius: 40px;
	  color: black;
	  background: white;
  }

  .banner{
    position: relative;
    background-image: url('./images/desktop/image-header.jpg');
    height: calc(100vh - 100px);
    background-size: cover;

  }
  .banner .header{
    position: absolute;
    top: 30vh;
    display: flex;
    justify-content: center;
    font: normal normal 600 40px/normal sans-serif;
    width: 100%;
    color: #fff;
  }
  .banner .arrow-down{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
  }
.first-section, .second-section{
  display: grid;
  grid-template-columns: 50% 50%;
}
.first-section .left-side, .second-section .right-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 160px;
  row-gap: 30px;
}
.first-section .left-side h2, .second-section .right-side h2{
  font: normal normal 900 30px/normal sans-serif;
}
.first-section .left-side p, .second-section .right-side p{
  font: normal normal 500 15px/25px sans-serif;
}
.first-section .left-side a, .second-section .right-side a{
  font: normal normal 700 17px/normal sans-serif;
  background: linear-gradient(#fff 50%, yellow 50%);
  text-decoration: none;
  width: max-content;
  padding: 0 5px;
  color: #000;
}
.second-section .right-side a{
  background: linear-gradient(#fff 50%, pink 50%);
}
.first-section .right-side img, .second-section .left-side img{
  width: 100%;
}
  .testimonials {
	  padding: 80px;
  }

  .testimonial-container {
	  display: grid;
	  gap: 20px;
	  grid-template-columns: auto auto auto;
  }

  .testimonial-heading {
	  font-family: sans-serif;
	  text-transform: uppercase;
	  color: hsl(210, 4%, 67%);
	  width: max-content;
	  padding: 60px;
	  margin: auto;
  }

  .testimonial-card {
	  text-align: center;
  }

  .testimonial-card figcaption > *{
	  margin-bottom: 40px;
  }


  .desgination {
	  color: hsl(213, 9%, 39%);
	  margin-top: 20px;
	  font-weight: 500;
  }

  .description {
	  color: hsl(213, 9%, 39%);
	  font-weight: 700;
  }

  .testimonial-card img {
	  display: block;
	  border-radius: 100%;
	  width: 60px;
	  height: 60px;
	  margin: auto;
	  margin-bottom: 30px;
  }
